*.iml
*.ipr
*.iws
.checkstyle
.classpath
.fslckout
.idea
.project
.settings
bin
out
pom.xml.versionsBackup
target
.jqwik-database
dependency-reduced-pom.xml
pom.xml.versionsBackup
com.io7m.genevan.core/src/main/coq/html
